@model List<Entities.EnergyMeter>

@Html.ActionLink("Create New", "Create", "EnergyMeters", null, new { @class = "btn btn-primary" })
<div class="alert alert-primary" role="alert" id="signalr">
</div>
<input type="hidden" value="@ViewBag.Jwt" id="jwt"/>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">SerialId</th>
            <th scope="col">Type</th>
            <th scope="col">Count</th>
            <th scope="col">Switch State</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {

            <tr>
                <th scope="row">@i</th>
                <td>@Model[i].SerialId</td>
                <td>@Model[i].Type.ToString()</td>
                <td>@Model[i].Count</td>
                <td>@Model[i].SwitchState.ToString()</td>

                @if (Model[i].Meters != null)
                    foreach (var item in Model[i].Meters)
                    {
                        <td>@item.MeterId</td>
                    }
                <td>@await Html.PartialAsync("Delete.cshtml", Model[i])</td>
                <td>@await Html.PartialAsync("Switch.cshtml", Model[i])</td>
                <td>@Html.ActionLink("Update", "Update", "EnergyMeters", Model[i], new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </tbody>
</table>
</div>

@section Scripts {

    <script src="~/js/chat.js" asp-append-version="true"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}